html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/main.css")
        script(src="/index.js")
        title
            if page_title
                | #{page_title} - Totoz.eu Beta
            else
                | Totoz.eu Beta

    body(id=body_id)
        div(class='links')
            h1
                a(href='/') Totoz.eu Beta

        div(id='cnt')
            block content

        div(class='about')
            =' Contact | '
            a(href="https://github.com/n-e/totoz.eu") Github
            =' | '
            a(href='design/index.html') Index Mockup
