html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/main.css")
        script(src="/index.js")
        title
            if page_title
                | #{page_title} - Totoz.eu Beta
            else
                | Totoz.eu Beta

    body(id=body_id)
        div(class='links')
            h1
                a(href='/') Totoz.eu Beta
            span(class='spc')
            if user
                a(href="/user/"+user.name.toLowerCase())= user.name
            else
                a(href='/login') Log in
            if sfw
                a(href=nsfw_url,class='sfw_status sfw')
                    span(class='nohover') SFW
                    span(class='hover') Go to NSFW
            else
                a(href=sfw_url,class='sfw_status nsfw')
                    span(class='nohover') NSFW
                    span(class='hover') Go to SFW

        div(id='cnt')
            block content

        div(class='about')
            =' Contact | '
            a(href="https://github.com/n-e/totoz.eu") Github
            =' | '
            a(href='design/index.html') Index Mockup
