extends layout.pug

block content
    form(action="/login", method="post")
        table
            tr
                td Name:
                td: input(type="text", name='username')
            tr
                td Password:
                td: input(type="password", name="password")

            if message != ''
                tr: td(colspan=2)
                    div(class='error')= message
            tr: td(class='submit',colspan=2)
                input(type="submit", value="Log in")
                br
                br
                a(href='https://miaoli.im/tribune/totoz.eu') Help