extends layout.pug

block content
    h2= user.name
    p A member since #{page_user.created}
    if user && user.name == page_user.name
        a(href="/logout") Logout
        =' '
        a(href='/create_totoz') Create a totoz
    include fragments/totoz_list