extends layout.pug

block content
    h2= user_id
    if user && user.name == user_id
        a(href="/logout") Logout
        =' '
        a(href='/create_totoz') Create a totoz
    include fragments/totoz_list