[Service]
ExecStart=/usr/bin/node /home/totoz/app/build/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=totoz
User=totoz
Group=totoz
Environment=NODE_ENV=production
Environment=PGHOST=/var/run/postgresql
Environment=COOKIEDOMAIN=beta.totoz.eu

[Install]
WantedBy=multi-user.target
