body, input {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    color: #444;
}

/* Misc paragraph styles */
a {
    color: #0af;
}
/* End misc paragraph styles */

body {
    background: #f5f5f5;
    margin:0;
}


.links {
    background:#fff;
    margin-top:0;
    display: flex;
    align-items: stretch;
    line-height: 26px; /* Same as the title to align items*/
    /* border-left:3px solid #0af; */
}

.links > *:not(h1), .links > h1 > a {
    padding: 12px 16px 12px 12px;
}

.links > span {
    padding-left: 12px;
}

.spc {
    flex-grow: 1;
}

h1 {
    padding:0; margin: 0;
    font-weight:600;
    font-size:22px;
}

.links .sfw_status:not(:hover) {
    color:inherit
}

.sfw_status .hover {
    display: none;
}

.sfw_status .nohover {
}

.sfw_status:hover .hover, .sfw_status:active .hover  {
    display: initial;
}

.sfw_status:hover .nohover, .sfw_status:active .nohover {
    display: none;
}

.sfw_status.nsfw .nohover {
    color: #cc0000;
    font-weight: bold;
}

.links > h1 > a {
    display: block;
    color:inherit;
    text-decoration: inherit;
}

.links > a {
    text-decoration: inherit;
}

body#totoz #cnt {
    text-align: center;
}

#cnt {
    padding: 0px 12px;
    margin:24px 0;
}

#search {
    margin:24px 0;
    text-align: center;
}

#query {
    padding:3px;
    min-width:20em;
    width:30%;
    -webkit-appearance: none;
    border:1px solid #ccc;
}

.totoz_list {
    display: flex;
    flex-wrap: wrap;
}

.unique_totoz {
    display: inline-block;
}

.totoz_list .totoz {
    width:94px;
}

.unique_totoz .totoz {
    padding:8px 24px;
}

.totoz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    padding:2px 0 3px;
    background: #fff;
    overflow: hidden;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.match {background:#ffff00}
/*.match2 {background:#0f0}
.match3 {background:#0ff}*/

.totoz > * {
    padding: 3px;
    text-align: center;
}

.totoz .img {
    position:relative;
}

.totoz_list .totoz img {
    max-width: 90px;
}

.totoz .nsfw_img {
    width:67px;
    height:50px;
    line-height: 50px;
    border:1px solid red;
    color:red;
    background: #ffcccc;
}


.totoz > * {
    text-decoration: none;
}

.totoz .username {
    color: #777;
    font-size:11px;
}

.about {
    color: #777;
    text-align: center;
    margin:50px 0 12px;
}